body
  width: 1000px
  margin: auto

!blue_clr= #227CE8

h2
  :color= !blue_clr

a
  :color= !blue_clr
  text-decoration: none
a:hover
  text-decoration: underline

#header
  padding: 5px 25px
  border-bottom: 2px solid #66A3D2
  background-color: #66A3D2
  margin-top: 10px
  color: #FFF
#header p
  padding: 0
  margin: 0
#header h1
  padding: 0
  margin: 0
#header a
  color: white
#header a:hover
  text-decoration: none

#path
  font-size: 1.3em
  padding: 10px 0
#repo-name
  font-weight: bold

#content h2
  font-size: 1.2em

/* FILES TABLE STYLES */

table
  width: 100%
  border-collapse: collapse
table th
  text-align: left
  padding: 2px 5px
  background-color: #66A3D2
  color: #2A2829
  font-size: 0.8em
table tr
  border: 1px solid #66A3D2
table td
  padding: 2px 5px
  font-size: 0.8em
#files td.icon
  width: 16px
#files td.name
  width: 20%
#files td.age
  width: 20%
table td a
  text-decoration: none
table td a:hover
  text-decoration: underline
  color= !blue_clr

#commits td.sha
  font-family: monospace
  width: 5%
#commits td.age
  width: 15%

.pagination
  padding: 10px 0
  font-size: 0.8em
.pagination span
  padding: 3px 5px
  border: 1px solid gray
  color: gray
  margin-right: 1px
  font-weight: bold
.pagination a
  padding: 3px 5px
  border: 1px solid
  border-color= !blue_clr
  font-weight: bold
.pagination a:hover
  text-decoration: none

.commit_details
  margin: 30px 0
  border: 1px solid #CCC
  padding: 10px
  font-family: 'DejaVu Sans Mono', 'Bitstream Sans Mono', 'Courier New'
  font-size: 12px
  background: #EAF2F5
.commit_details .sha
  margin-bottom: 10px
  font-size: 1.5em
.commit_details .message
  margin-bottom: 10px

#footer
  margin-top: 20px
  text-align: right
  font-size: 0.7em
