div.Coderay
  border: 1px solid #CCC
  font-size: 12px
  font-family: 'Courier New', 'Tahoma', monospace
  overflow: auto
  margin-bottom: 30px

span.Coderay span
  padding-left: 10px

/* Diff styles */
.Coderay .head
  font-weight: bold
  padding: 5px
  background-color: #EEE
  border-bottom: solid 1px #CCC
.Coderay span.head
  font-weight: normal
.Coderay .chg, .Coderay .c
  color: gray
  padding-left: 0
.Coderay .del
  background-color: #FDD
.Coderay .ins
  background-color: #DFD

/* Ruby styles */
.Coderay .code
  color: #333
.Coderay .r
  font-weight: bold
  color: #A40031
.Coderay .co, .Coderay .pc
  font-weight: bold
  color: #7A9A06
.Coderay .k, .Coderay .sy
  color: #AE8DCE
.Coderay .iv
  color: #76A5E0
.Coderay .no
  padding-right: 25px
  background-color: #EEE
