div.Coderay
  border: 1px solid #cccccc
  font-size: 12px
  font-family: "Courier New", "Tahoma", monospace
  overflow: auto
  margin-bottom: 30px

span.Coderay span
  padding-left: 10px

/* Diff styles
.Coderay .head
  font-weight: bold
  padding: 5px
  background-color: #eeeeee
  border-bottom: solid 1px #cccccc

.Coderay span.head
  font-weight: normal

.Coderay .chg, .Coderay .c
  color: gray
  padding-left: 0

.Coderay .del
  background-color: #ffdddd

.Coderay .ins
  background-color: #ddffdd

/* Ruby styles
.Coderay .code
  color: #333333

.Coderay .r
  font-weight: bold
  color: #a40031

.Coderay .co, .Coderay .pc
  font-weight: bold
  color: #7a9a06

.Coderay .k, .Coderay .sy
  color: #ae8dce

.Coderay .iv
  color: #76a5e0

.Coderay .no
  padding-right: 25px
  background-color: #eeeeee
