= '<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Strict//EN”'
= '“http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd”>'
= '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />'
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Git-Bro - browse your repositories
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/application.css'}
    %script{:type => 'text/javascript', :src => '/js/jquery-1.4.2.js'}
    %script{:type => 'text/javascript', :src => '/js/application.js'}
  %body
    #wrapper
      #header
        %h1 Git-Bro
        %p browse your Git repositories
    #content
      = yield
    #footer
      %a{:href => 'http://github.com/kolo/git-bro'}git-bro on Github
