body
  width: 1000px
  margin: auto

h2
  color: cornflowerblue

a
  color: #493796
  text-decoration: none

#content h2
  font-size: 1.2em

#files
  width: 100%
  border-collapse: collapse
#files th
  text-align: left
  padding: 2px 5px
  background-color: #B9D7D9
  color: #2A2829
  font-size: 0.8em
#files tr
  border: 1px solid #B9D7D9
#files td
  padding: 2px 5px
  color: #668284

#files .icon
  width: 16px
#files td a
  text-decoration: none
  color: #668284
#files td a:hover
  text-decoration: underline
#files .message
