body
  width: 1000px
  margin: auto

!blue_clr= #227CE8

h2
  :color= !blue_clr

a
  :color= !blue_clr
  text-decoration: none
a:hover
  text-decoration: underline

#header
  padding: 5px 25px
  border-bottom: 2px solid #66A3D2
  background-color: #66A3D2
  margin-top: 10px
  color: #FFF
#header p
  padding: 0
  margin: 0
#header h1
  padding: 0
  margin: 0

#path
  font-size: 1.3em
  padding: 10px 0
#repo-name
  font-weight: bold

#content h2
  font-size: 1.2em

#files
  width: 100%
  border-collapse: collapse
#files th
  text-align: left
  padding: 2px 5px
  background-color: #66A3D2
  color: #2A2829
  font-size: 0.8em
#files tr
  border: 1px solid #66A3D2
#files td
  padding: 2px 5px
  font-size: 0.8em

#files .date
  font-size: 0.7em
  color: #66A3D2
#files .icon
  width: 16px
#files .age
  width: 20%
#files td a
  text-decoration: none
#files td a:hover
  text-decoration: underline
  color= !blue_clr

#footer
  margin-top: 20px
  text-align: right
  font-size: 0.7em
